doctype html

html
	head
		title There's Nothing New Under the Sun
		script(src="js/lib/babylon.2.4.max.js")
		script(src="js/lib/hand.minified-1.2.js")
		//script(src="http://www.babylonjs.com/cannon.js")
		//script(src="http://www.babylonjs.com/oimo.js")
		script(src="tnnuts.min.js")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		canvas#game
